# Dependencies
node_modules
npm-debug.log

# Build output
dist
.angular

# IDE
.idea
.vscode
*.swp
*.swo

# Testing
coverage
cypress/videos
cypress/screenshots

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose*.yml

# Misc
README.md
*.md
.editorconfig
.prettierrc
.eslintrc.json
